p{background-color: aqua;
margin: 10px;
padding: 20px;
}
.body{background-color: rgb(233, 97, 29);
    margin: 5% 0;
    padding: 10% 0;
}
.ul{background-color: rgb(233, 97, 29) rgb(19, 240, 19);
   margin: 10px 50px 20px;
padding: 10px 50px 20px;
 
}

.th,td{ background-color: yellowgreen;
    margin: 10px 50px 20px 0;
padding: 10px 50px 30px 0;
position: 100px;
}
