td,th {
    border:1px solid black ;
    padding: 5px; 
    text-align: center;
    width: 150px;
    height: 10px;
}
body{padding-left: 200px;

}
.A{
    background-color: greenyellow;
    color: black;
}
.B{
    background-color:lightgreen ;
    color:black;
}
.C{
    background-color: darkblue;
    color: light rgb(0, 195, 255);
}
.D{
    background-color: purple;
    color: violet;
}
.E{
    background-color: orange;
    color: black;
}
.F{
    background-color:red;
    
}
